name: Update Template CI
on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  update-template:
    runs-on: ubuntu-latest
    steps:
      - name: Run Upptime
        uses: upptime/uptime-monitor@v1.38.3
        with:
          command: "update"
